{
	"branches": [
		"main"
	],
	"tagFormat": "v${version}",
	"plugins": [
		"@semantic-release/commit-analyzer",
		[
			"@semantic-release/release-notes-generator",
			{
				"preset": "conventionalcommits",
				"presetConfig": {
					"types": [
						{
							"type": "feat",
							"section": "✨ Features"
						},
						{
							"type": "fix",
							"section": "🐛 Bug Fixes"
						},
						{
							"type": "perf",
							"section": "⚡ Performance"
						},
						{
							"type": "refactor",
							"section": "♻️ Refactoring"
						},
						{
							"type": "docs",
							"section": "📚 Documentation"
						},
						{
							"type": "build",
							"section": "🏗️ Build System"
						},
						{
							"type": "ci",
							"section": "🔄 CI/CD"
						},
						{
							"type": "test",
							"section": "🧪 Tests"
						},
						{
							"type": "chore",
							"hidden": true
						},
						{
							"type": "style",
							"hidden": true
						}
					]
				}
			}
		],
		"semantic-release-export-data",
		[
			"@semantic-release/changelog",
			{
				"changelogFile": "CHANGELOG.md"
			}
		],
		[
			"@semantic-release/exec",
			{
				"prepareCmd": "git add CHANGELOG.md && git commit -m 'chore(release): ${nextRelease.version}' && git push origin HEAD:${branch.name}"
			}
		],
		[
			"@semantic-release/npm",
			{
				"npmPublish": false
			}
		],
		"@semantic-release/github"
	]
}
