{
	"branches": [
		"main"
	],
	"tagFormat": "v${version}",
	"plugins": [
		"@semantic-release/commit-analyzer",
		[
			"@semantic-release/release-notes-generator",
			{
				"preset": "conventionalcommits",
				"presetConfig": {
					"types": [
						{
							"type": "feat",
							"section": "✨ Features"
						},
						{
							"type": "fix",
							"section": "🐛 Bug Fixes"
						},
						{
							"type": "perf",
							"section": "⚡ Performance"
						},
						{
							"type": "refactor",
							"section": "♻️ Refactoring"
						},
						{
							"type": "docs",
							"section": "📚 Documentation"
						},
						{
							"type": "build",
							"section": "🏗️ Build System"
						},
						{
							"type": "ci",
							"section": "🔄 CI/CD"
						},
						{
							"type": "test",
							"section": "🧪 Tests"
						},
						{
							"type": "chore",
							"hidden": true
						},
						{
							"type": "style",
							"hidden": true
						}
					]
				}
			}
		],
		"semantic-release-export-data",
		[
			"@semantic-release/changelog",
			{
				"changelogFile": "CHANGELOG.md"
			}
		],
		[
			"@semantic-release/npm",
			{
				"npmPublish": false
			}
		],
		[
			"@semantic-release/git",
			{
				"assets": [
					"CHANGELOG.md",
					"package.json",
					"package-lock.json"
				],
				"message": "chore(release): ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
			}
		],
		[
			"@semantic-release/exec",
			{
				"verifyReleaseCmd": "echo \"Running verifyReleaseCmd...\" && printf \"Version: '%s'\\n\" \"${nextRelease.version}\" && printf \"Notes: %s\\n\" \"${nextRelease.notes}\"",
				"prepareCmd": "echo \"Running prepareCmd...\"",
				"publishCmd": "echo \"Running publishCmd...\" # git add CHANGELOG.md && git commit -m 'chore(release): ${nextRelease.version}' && git push origin HEAD:${branch.name}",
				"successCmd": "echo \"> [!TIP]\" >> $GITHUB_STEP_SUMMARY; echo \"> ### Release Information\" >> $GITHUB_STEP_SUMMARY; echo \"> ✅ **Version**: ${nextRelease.version}\" >> $GITHUB_STEP_SUMMARY; echo \"> 🏷️ **Git Tag**: ${nextRelease.gitTag}\" >> $GITHUB_STEP_SUMMARY; echo \"> 📝 **Release Notes**:; echo \"> \" >> $GITHUB_STEP_SUMMARY; printf \"> \n\" >> $GITHUB_STEP_SUMMARY; while IFS= read -r line; do printf '%s\n' \"$line\" | sed 's/^/> /' | tee -a $GITHUB_STEP_SUMMARY; done < <(printf '%s' \"${nextRelease.notes}\" | base64 -d)",
				"failCmd": "echo \"🚨 Release failed!\""
			}
		]
	]
}
