{
	"branches": [
		"main"
	],
	"tagFormat": "v${version}",
	"plugins": [
		"@semantic-release/commit-analyzer",
		[
			"@semantic-release/release-notes-generator",
			{
				"preset": "conventionalcommits",
				"presetConfig": {
					"types": [
						{
							"type": "feat",
							"section": "✨ Features"
						},
						{
							"type": "fix",
							"section": "🐛 Bug Fixes"
						},
						{
							"type": "perf",
							"section": "⚡ Performance"
						},
						{
							"type": "refactor",
							"section": "♻️ Refactoring"
						},
						{
							"type": "docs",
							"section": "📚 Documentation"
						},
						{
							"type": "build",
							"section": "🏗️ Build System"
						},
						{
							"type": "ci",
							"section": "🔄 CI/CD"
						},
						{
							"type": "test",
							"section": "🧪 Tests"
						},
						{
							"type": "chore",
							"hidden": true
						},
						{
							"type": "style",
							"hidden": true
						}
					]
				}
			}
		],
		"semantic-release-export-data",
		[
			"@semantic-release/changelog",
			{
				"changelogFile": "CHANGELOG.md"
			}
		],
		[
			"@semantic-release/npm",
			{
				"npmPublish": false
			}
		],
		[
			"@semantic-release/git",
			{
				"assets": [
					"CHANGELOG.md",
					"package.json",
					"package-lock.json"
				],
				"message": "chore(release): ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
			}
		],
		[
			"@semantic-release/exec",
			{
				"verifyReleaseCmd": "echo \"Running verifyReleaseCmd...\" && printf \"Version: '%s'\\n\" \"${nextRelease.version}\" && printf \"Notes: %s\\n\" \"${nextRelease.notes}\"",
				"prepareCmd": "if [ \"$MANUAL_TAG\" = \"true\" ]; then notes_file=$(mktemp); printf '%s\\n' \"${nextRelease.notes}\" > \"$notes_file\"; git tag -f -a \"${nextRelease.gitTag}\" -F \"$notes_file\" --cleanup=verbatim; git push origin \"refs/tags/${nextRelease.gitTag}\"; rm -f \"$notes_file\"; fi",
				"successCmd": "printf \"> [!TIP]\\n\" >> \"$GITHUB_STEP_SUMMARY\"; printf \"> ### Release Information\n>\n\" >> \"$GITHUB_STEP_SUMMARY\"; printf \"> ✅ **Version**: %s\n\" \"${nextRelease.version}\" >> \"$GITHUB_STEP_SUMMARY\"; printf \"> 🏷️ **Git Tag**: %s\n\" \"${nextRelease.gitTag}\" >> \"$GITHUB_STEP_SUMMARY\"; printf \"> 📝 **Release Notes**:\n\" >> \"$GITHUB_STEP_SUMMARY\"; printf '%s\\n' \"${nextRelease.notes}\" | sed 's/^/>   > /' >> \"$GITHUB_STEP_SUMMARY\"",
				"failCmd": "echo \"🚨 Release failed!\""
			}
		]
	]
}
